<div style="padding:10px;">
<div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">You</div>
  <div class="card-body text-dark">
    <h5 class="card-title"></h5>
    <p class="card-text"><%= @answer %></p>
  </div>
</div>

<div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Coach</div>
  <div class="card-body text-dark">
    <h5 class="card-title"></h5>
    <p class="card-text"><%= @show %></p>
  </div>
</div>

<%= link_to "Ask a new question", ask_path %>
</div>
