<form action="answer" method="get" class="form-inline" style="padding:10px;">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" name="question" class="form-control"  placeholder="Ask your coach anything!">
  </div>
  <input type="submit" value="Ask!" class="btn btn-primary mb-2">
</form>

